*
{
    font-family: Arial, "Arial Black" , "宋体" , "微软雅黑" , Terminal, Courier;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
body
{
    background-color: #fafafa;
}
textarea
{
    width: 100%;
    height: 100%;
    overflow: auto;
}
#TbUp, TbCt
{
    width: 100%;
}
#TextUpdate
{
    height: 100%;
}
#TbUp
{
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.4em 0;
}
.Btn
{
    background: url(../img/button.png) repeat-x scroll 0 50% #222222;
    border: 2px solid #AAAAAA;
    border-radius: 6px 6px 6px 6px;
    color: #EEEEEE;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0.4em 0;
    text-align: center;
    width: 80px;
}
.Btn:hover
{
    background: none repeat scroll 0 0 #111111;
    color: #FFFFFF;
}
#LbErr1
{
    color: #F00;
}
